/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: white;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: white;
  min-height: 80px;
  padding: 0px;
  position: table;
  text-align: center;
  margin: 0 auto;

  /* margin-top: 50%; */
}
.main-nav ul {
  min-width: 300px;
  display: inline-block;
  /* justify-content: space-around; */
  font-weight: 350;
  list-style-type: none;
  margin: auto;
  padding-top: 10px;

}
.main-nav li{
  display: table-cell;
  text-transform: capitalize;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 35px;
  font-weight: 500;
  color: red;
  /* color: rgb(102, 119, 136); */
  /* display: inline; */
}


.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: grey;
}

header {
  text-align: center;
  background: url('images/background.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  /* padding-top: 60px; */
  background-color: transparent;
  background-position: 50% 50%;
}
header {
  line-height: 1.5;
  text-align: center;
}

div.dimming {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}
.intro p{
  text-align: center;
  margin: auto;
  width: 400px;
  font-size: 26px;
  font-family: -apple-system, helvetica, sans-serif;
  font-weight: 700;
  color:rgb(85,85,85);
  line-height: 34.8px;
}
.intro .profile-image {
  object-fit: cover;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 3px solid white; */
  transition: all .5s;
  margin: 100px;
}
.intro .profile-image:hover {
  transform: scale(1.2);
}
h1.tag {
  /* background-color: #efefef; */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 60px;
  font-family: -apple-system, helvetica, sans-serif;
  font-weight: 200;
  vertical-align: middle;
  display: table-cell;
  /* float: left; */
}
h1.tag::before, h1.tag::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  margin: 0 10px;
  width: 80px;
  background-color: white;
}

#fed{
  top: 90px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, helvetica, sans-serif;
  position: absolute;
  text-align: center;
  top: 520px;
  margin-left: 46%;
}

.location {
  background-color: #222;
  color: yellow;
}


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  /* border-bottom: 4px solid #ccc; */
  border-radius: 6px;
  transition: all .5s;
}
.card h2{
  text-align: center;
  font-family: -apple-system, helvetica, sans-serif;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  /* background: rgb(102,119,136); */
  min-height: 40px;
  padding: 0px;
  width: 100%;
  padding: 40px 40px 0px 40px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 100px;
  }

  header, .dimming {
    min-height: 800px;
  }

  /* .nav {
    max-width: 1200px;
    padding: 0 30px;
  } */


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    /* max-width: 1200px; */
    margin: 40px auto;
  }

}
